<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        {% for nav in navigation %}
        <a href="{{ nav.href }}">{{ nav.caption }}</a>
        {% endfor %}
    </nav>
    
    <main>
        <h1>Пользователи</h1>
        <ul>
            {% for user in users %}
            <li><a href="/user?id={{ user.id }}">{{ user.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="/">← Главная</a>
    </main>
</body>
</html>
